h1{
    font-weight: normal;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
}
h2{
    font-weight: normal;
    text-indent: 20px;
}
h3{
    font-family: sans-serif;
    text-indent: 20px;
}
h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: right;
}
P{
    text-align: justify;
    text-indent: 20px;
    line-height: 32px;
    word-spacing: 2px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
ul{
    list-style: none;
}